.fa-home{
    color:$purple;
    font-size: 6em;
}

.fa-film{
    color:$purple;
    font-size: 6em;
}

.fa-tv{
    color:$purple;
    font-size: 6em;
}
.fa-music{
    color:$purple;
    font-size: 6em;
}


.kid-grid h4{
    color: $purple;
    margin-top:1em;
}


.kid-grids-bottom h5{
    color:$grey;
    padding-top: 3em;
}

.kid-grids-bottom img{
    padding:1em;
}

.kid-grids-bottom{
    margin-top: 5%;
}



.fa-smile-wink{ 
    color:$purple;
    font-size: 3em;
}

.fa-meh{ 
    color:$purple;
    font-size: 3em;
}
.fa-frown{ 
    color:$purple;
    font-size: 3em;
}
.fa-tired{ 
    color:$purple;
    font-size: 3em;
}

.kid-emoj{
    margin-left: 1%;
    margin-top: 2%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.emoj{
    margin-right:3%;
}