.title-sign{
        margin: 25px auto;
        color:$purple;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }

.login-content{
    background-image: url(../images/backimage.png);
    padding: 2%;
    h3{
        color:$white;
        text-shadow: 3px 3px 3px $purple;
        text-align: center;
        padding-top: 5px;
        font-size: 2em;
    }
    
}

form{
    text-align: center;
    .checkbox{
        color:$white;
    }
}
input{
vertical-align:middle;}

.btn{
    background-color: $purple;
    color: $white;
    font-size: 0.8em;
    padding: 5px 50px;
}

.notice{
    margin-top: 30px;
    color: $white;
    p{
        margin-top: 20px;
        color:$purple-mid;
    }
}

.click{
    text-decoration:underline;
}

.user-header h2{
    color: $purple;
    font-weight: 600;
}


.user-area{
    margin-top: 3em;
    background-image: url(../images/back_white.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: $purple;
        font-weight:800;
        text-transform: uppercase;
        
    }
}

